* {
    gap: 0px;
    padding: 0px;
    margin: 0px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.title {
    font-size: 80px;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;

    gap: 20px 50px;
}

.horizontal {
    flex-direction: row;
}

.text.horizontal.container {
    gap: 5px;
}

.custom-color{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    width: 3em;
}

.grid {
    height: 600px;
    width: 600px;
    border: 5px solid black;

    display:flex;
    flex-wrap: wrap;
}

.tile {
    border: 1px solid rgb(122, 79, 224);
    background-color: rgba(0, 0, 0, 0);
}